@charset "utf-8";
/* CSS Document */
@import url("common.css");
@import url("file.css");

/*-----------------------------------------
	安全管理
-----------------------------------------*/
.marginL5 { margin-left: 5px !important;}
.marginL55 { margin-left: 55px !important;}
.flexRow { display: flex; justify-content: space-between; }
.flexColumn { display: flex; flex-direction: column; justify-content: space-between; }
/* .securityTop,.securityFlex { flex: 1; } */
.securityTop { height: calc(65% - 1rem); }
.securityBottom { margin-top: 1rem; height: 35%; }
.securityFlex { height: calc(100% - 3.5rem); }
.echartsBox { height: 100%; }

/* ----------左侧--------- */
.securityLeft {  margin-right: 1rem; width: 310px;  }
.shutdownStat { padding: 15px 0; text-align: center; }
.shutdownStat .shutdownNum { padding-top: 10px; margin-top: 10px; border-top: 1px solid rgba(26,208,253,0.2);}
.shutdownNum em { margin-left: 10px; font-size: 18px; color: #F8AA20 !important; }
.logConBox { margin: auto; width: 15rem; height: 15rem; display: flex; align-items: center; justify-content: center; position: relative; }
.logConBox .logConCircle { width: 100%; height: 100%; background: url(../images/quslityLogDay.png) no-repeat center / auto 100%; position: absolute; left: 0; top: 0;
    animation: point_little_animate 30s infinite linear;
    -moz-animation: point_little_animate 30s infinite linear;
    -webkit-animation: point_little_animate 30s infinite linear;
    -o-animation: point_little_animate 30s infinite linear; }
.logConBox .logConText .num { padding-bottom: 0.25rem; display: block; text-align: center; color:  #33DEC0; font-size: 3rem; }
.rectificationStat { padding: 15px; }
.rectificationStat .timelyRatio  { margin-top: 15px; display: flex; align-items: center; }
.rectificationStat .shutdownNum { margin-bottom: 15px;}

/*施工日志*/
.workLog li { padding: 6px 10px; display: flex; align-items: center; border-bottom: 1px solid rgba(26,208,253,0.2); }
.workLog li p span { display: block; }
.workLog li .head { width: 45px; height: 45px; border-radius: 50%; background: #ccc; overflow: hidden; }
.workLog li .head img { display: block; width: 100%; height: 100%; }
.workLog li .name { padding: 0 5px 0 10px; flex: 1; }
.workLog li .name span { font-size: 16px;}
.workLog li .time { color: rgba(255,255,255,.5);}

/* ----------右侧---------- */
.securityRight { margin-left: 1rem; width: 310px; }
.securityFlex .fileTableBox .file_table th,.securityFlex .fileTableBox .file_table td { padding: 10px 0; line-height: 1.5rem;  }
.securityFlex .fileTableBox .file_table tr:nth-child(1) { background: rgba(51,222,192,0.2);}
.securityFlex .fileTableBox .file_table tr:nth-child(2n) { background: none;}
.securityFlex .fileTableBox .file_table .warning { color:  #F32043; }
.securityFlex .fileTableBox .file_table td { border-bottom: 1px solid rgba(51,222,192,0.2); }
/* 样板引路 */
.modelWay { padding: 10px;}

/*----------中间----------*/
.securityCont {  flex: 1; }
.safetySelect { float: left; }
.safetySelect .model-select-box { width: 15rem; }
.safetyRectif { padding: 15px 0;}
.safetyRectif .safetyList li { flex: 1; }
.safetyList li { padding: 15px; margin: 0 15px;  text-align: center; border: 1px solid rgba(26,208,253,0.2); }
.safetyList li em { padding: 10px 0 20px; display: block; font-size: 30px; }

/* 检验批验收 */
.InspectAccept { align-items: center; }
.InspectAccept .safetyList,.InspectAccept .ratesBox { flex: 1; }
.InspectAccept .safetyList li { margin: 15px 15px;}
.InspectAccept .ratesBox { margin: 15px; text-align: center; }
.InspectAccept .ratesBox .ratesText { padding: 15px 0;}


